.DS_Store
__pycache__
datasets/wonderbread/*demos/*
datasets/wonderbread/*demos.zip
datasets/*/screenshots/*

/tags
/tags-opts

.cache

/datasets/androidcontrol/android_env_utils/.eggs/
/datasets/androidcontrol/android_env_utils/android_env/
/datasets/androidcontrol/android_env_utils/android_env.egg-info/
/datasets/androidcontrol/android_env_utils/build/
/datasets/androidcontrol/android_env_utils/__init__.py
/datasets/androidcontrol/android_env_utils/setup.py
/datasets/androidcontrol/android_env_utils/temp_output.txt
/datasets/androidcontrol/android_env_utils/
