name: Check Docstrings

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check_docstrings:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install ruff
      run: |
        python -m pip install ruff
  
    - name: Check for docstrings
      run: |
        ruff datasets/*/api.py --select D  --ignore D100
